# Sets, Collections, & Exception Handling 

## Sets

* create a new empty set
* print that set

In [2]:
empty_set = set()
print(empty_set)

set()

* create a non empty set
* print that set

In [142]:
notempty_set = {'this','is','not','an','empty','set'}
print(notempty_set)

{'an', 'not', 'set', 'empty', 'this', 'is'}

* iterate over the set and print results

In [143]:
for val in notempty_set: print(val)

an
not
set
empty
this
is

* add one item to the set

In [144]:
notempty_set.add('football')
print(notempty_set)

{'an', 'not', 'set', 'empty', 'this', 'football', 'is'}

* add multiple items to the set

In [145]:

notempty_set.update(('school','fantasy','yikes'))
print(notempty_set)

{'an', 'yikes', 'not', 'set', 'school', 'fantasy', 'empty', 'this', 'football', 'is'}

* remove an item from a set if it is present in the set

In [146]:
notempty_set.discard('yikes')
print(notempty_set)

{'an', 'not', 'set', 'school', 'fantasy', 'empty', 'this', 'football', 'is'}

* find maximum and minimum values of the set

In [148]:
print(max(notempty_set))
print(min(notempty_set))

this
an

* print the length of the set

In [33]:
print(len(notempty_set))

9

* create an intersection of x and y

In [ ]:
z = x.intersection(y)

* create an union of x and y

In [ ]:
z = x.union(y)

* create difference between x and y

In [ ]:
z - x.difference(y)

---------------
## Collections

* for each word in a sentence count the occurence
* **sentence:** *black cat jumped over white cat*

In [45]:
from collections import Counter
sentence = 'black cat jumped over white cat'
split = sentence.split()
count = Counter(split)
print(count)

Counter({'cat': 2, 'black': 1, 'jumped': 1, 'over': 1, 'white': 1})

* print the most common words

In [46]:
print(count.most_common())

[('cat', 2), ('black', 1), ('jumped', 1), ('over', 1), ('white', 1)]

* count the occurences of words in the same sentence but now use **defaultdict**

In [48]:
from collections import defaultdict
count = defaultdict(int)
sentence = 'black cat jumped over white cat'.split()
for words in sentence:
    count[words] +=1
print(count)

defaultdict(<class 'int'>, {'black': 1, 'cat': 2, 'jumped': 1, 'over': 1, 'white': 1})

* create deque from list set used in first exercise

In [60]:
from collections import deque

list = ('black cat jumped over white cat'.split())
deque_list = deque(list)
print(deque_list)

deque(['black', 'cat', 'jumped', 'over', 'white', 'cat'])

* append number 10 to deque

In [61]:
deque_list.append(10)
print(deque_list)

deque(['black', 'cat', 'jumped', 'over', 'white', 'cat', 10])

* remove element from the right end from deque

In [62]:
deque_list.pop()
print(deque_list)

deque(['black', 'cat', 'jumped', 'over', 'white', 'cat'])

* remove element from the left end from deque

In [63]:
deque_list.popleft()
print(deque_list)

deque(['cat', 'jumped', 'over', 'white', 'cat'])

* delete all elements from deque

In [64]:
deque_list.clear()
print(deque_list)

deque([])

* create named tuple (people) with name and surname as position names

In [67]:
from collections import namedtuple
name = namedtuple('person', 'name, surname')
names = name('Joshua', 'Maes')
print(names)

person(name='Joshua', surname='Maes')

* print name and surname

In [69]:
print(names.name)

Joshua

In [70]:
print(names.surname)

Maes

_________________
## Exception handling
Now, let's practice with **errors and exception handling**

* Transform all string elements from a list to upper, if the element is not a string don't transform it.
* Use a try & except block without using the 'if' statement.

In [111]:
test = ['square', 57, 'mellow', 'sound', 42]

for i in test:
    try:
    
        j = i.upper()
        print(j)
        
        
    except AttributeError:
    
        print(i)

SQUARE
57
MELLOW
SOUND
42

### We have created a function below:

Luke Skywalker has family and friends. Help him remind himself the type of relation he has with his family and friends. 

Given a string with a name, return the relation of that person to Luke.

**Person --> Relation**
- Darth Vader --> father
- Leia --> sister
- Han --> brother in law
- R2D2 --> droid

#### Examples

> relation_to_luke("Darth Vader") ➞ "Luke, I am your father."
>
> relation_to_luke("Leia") ➞ "Luke, I am your sister."
>
> relation_to_luke("Han") ➞ "Luke, I am your brother in law."

In [133]:
def relation_to_luke(text):
    _dict = {}
    _dict["Darth Vader"] = "father"
    _dict["Leia"] = "sister"
    _dict["Han"] = "brother in law"
    _dict["R2D2"] = "droid"
    
    print(f"Luke, I am your {_dict[text]}")

#### Task I
Fix errors in the function above so we can run following code

In [134]:
relation_to_luke("Darth Vader")
relation_to_luke("Leia")
relation_to_luke("Han")
relation_to_luke("R2D2")

Luke, I am your father
Luke, I am your sister
Luke, I am your brother in law
Luke, I am your droid

#### Task II
Use exception handling so we can run the function with any string. In this case, the function will return following:

**relation_to_luke("aaaa") ➞ "aaaa is not in the relation with Luke"**

**Note:** Do **Not** use an **if** statement for this

In [140]:
def relation_to_luke(text):
    _dict = {}
    _dict["Darth Vader"] = "father"
    _dict["Leia"] = "sister"
    _dict["Han"] = "brother in law"
    _dict["R2D2"] = "droid"
    try:
    
        print(f"Luke, I am your {_dict[text]}")
        
    except KeyError:
        print(f'{text} is not in relation with Luke.')
        
        
relation_to_luke('aaaa')

aaaa is not in relation with Luke.